<div>
    <div class="container about">
        <div class="row">
            <div class="col-md-8">
                <h2 style="color: rgb(0, 0, 0);">About Us</h2>
                <hr>
                <h4 style="color: #9F190C;">Blood Bank Hubli</h4>
                <p>Despite the increase in the number of donors, blood remains in short supply during emergencies, mainly attributed
                    to the lack of information and accessibility. We positively believe this tool can overcome most of these
                    challenges by effectively connecting the blood donors with the blood recipients.</p>
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- container -->
</div>