<div class="widget-item-about">
        <div class="container about">
            <div class="row">
                <div class="about-content-left">
                    <h2 class="welcome-text">About Us</h2>
                    <h4>Blood Bank Hubli</h4>
                    <p>Despite the increase in the number of donors, blood remains in short supply during emergencies, mainly attributed
                        to the lack of information and accessibility. We positively believe this tool can overcome most of these
                        challenges by effectively connecting the blood donors with the blood recipients.</p>
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>