<div>
    <div class="container">
        <div class="container">
            <div class="row">
                <div>
                    <span class="errspns"> </span>
                    <h2>Request Blood</h2>
                    <form>
                        <div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h3> Patient Details</h3>
                                    <div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="control-group">
                                                    <div>
                                                        <label>Patient Name *</label>
                                                    </div>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" rel="tooltip" name="patient_name"
                                                            id="patient_name" value="" title="Please enter Patient Name	Maximum 20 characters."> </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="control-group">
                                                    <div>
                                                        <label>Blood Group *</label>
                                                    </div>
                                                    <div class="input-group">
                                                        <select name="blood" id="blood" class="form-control" ng-model="blg">
                                                            <option value="0">Select your blood group</option>
                                                            <option value="A+">A+</option>
                                                            <option value="B+">B+</option>
                                                            <option value="O+">O+</option>
                                                            <option value="A-">A-</option>
                                                            <option value="B-">B-</option>
                                                            <option value="O-">O-</option>
                                                            <option value="AB+">AB+</option>
                                                            <option value="AB-">AB-</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h3> Contact Details</h3>
                                    <div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="control-group">
                                                    <div>
                                                        <label>Contact Name *</label>
                                                    </div>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" rel="tooltip" name="contact_name"
                                                            id="contact_name" value="" title="Enter Contact Name"> </div>
                                                </div>
                                                <div class="control-group">
                                                    <div>
                                                        <label>Contact Email ID *</label>
                                                    </div>
                                                    <div class="input-group">
                                                        <input type="email" class="form-control" placeholder="" rel="tooltip" name="contact_emailid" id="contact_emailid" value=""
                                                            title="Enter Contact Email_Id"> </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="control-group">
                                                    <div>
                                                        <label>Contact Number *</label>
                                                    </div>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" name="contact_number" id="contact_number" rel="tooltip" placeholder="" value="" title="Enter Contact Number"> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="control-group">
                            <div class="controls">
                                <button type="submit" class="btn btn-danger">Submit Request</button>
                                <br> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <!-- row -->
</div>