<html>
        <head>
            <title>Register</title>
        </head>
        <body>
            <h1>Hello world!</h1>
            <form method="POST" action="/users">
                Name: <input type = "text" name = "username">
                Password:<input type = "text" name = "password">
                Email: <input type = "text" name = "email">
                <input type = "submit" value = "submit" >
            </form>
            
        </body>
    </html>