<div class = "page-header">
    <h1>User Management</h1>
</div>

<div class="jumbotron text-center"  ng-show="management.loading"><!--big box for calling extra attention to some special content LOADING in this case-->
    <span class = "glyphicon glyphicon-repeat fast-right-spinner"></span>
    <p>Loading...</p>
</div>

<div class="navbar-form">
    <div class="form-group">
        <input type="text" class="form-control" name="search" placeholder="search for...." ng-model="searchKeyword">
    </div>
    

        <div ng-show="searchFilter !== undefined"> <!--In scope so management.searchFilter not required-->
            <p><strong> Total results:</strong>
            {{(management.users | filter: searchFilter).length}}</p>
        </div>
        <div ng-show="searchFilter !== undefined">
            <p><strong>Currently displayed:</strong> 
            {{(management.users | filter: searchFilter | limitTo: management.limitto).length}}</p>
        </div>
    </div>
</div>

<br>
<br>
<div class = "row show-hide-message" ng-show="management.showMoreError">
    <div class = "alert alert-danger">{{ management.showMoreError }}</div>
</div>

<div class = "panel panel-primary">
    <div class = "panel heading">
        <center><strong>User management</strong></center>
    </div>
    <table class = "table">
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
        </tr>
        <tr ng-repeat="person in management.users | filter: searchFilter | limitTo: management.limitto">
            <td> {{person.name}} </td>
            <td> {{person.userName}} </td>
            <td> {{person.email}} </td>
            <td>
                <a href="/edit/:{{person._id}}">
                    <button ng-show = "management.editAccess" type="button" class="btn btn-primary">Edit</button>
                </a>
                <button ng-show = "management.deleteAccess" type="button"  ng-click = "management.deleteUser(person.userName);"  class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </table>
</div>

<div class = "row show-hide-message" ng-show="management.successMsg">
    <div class = "alert alert-success">{{ management.successMsg }}</div>  
</div>

