.loading {
    list-style: none;
    margin: auto;
    border-radius: 50%;
    padding: 0;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 0;
  }
  .loading.reversed li {
    border: 3px solid white;
    -webkit-animation: LOADINGREV 2s infinite;
            animation: LOADINGREV 2s infinite;
  }
  .loading.reversed li:nth-child(1n) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
  }
  .loading.reversed li:nth-child(2n) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }
  .loading.reversed li:nth-child(3n) {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }
  .loading li {
    height: 0;
    position: absolute;
    top: 50%;
    left: 0;
    width: 0;
    margin: 0;
    height: 10px;
    width: 10px;
    border: 3px solid #2b8ccd;
    border-radius: 100%;
    -webkit-transform: transformZ(0);
            transform: transformZ(0);
    -webkit-animation: LOADING 2s infinite;
            animation: LOADING 2s infinite;
  }
  .loading li:nth-child(1n) {
    left: -20px;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
  }
  .loading li:nth-child(2n) {
    left: 0;
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }
  .loading li:nth-child(3n) {
    left: 20px;
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }
  
  .grid-row:after {
    content: '';
    display: table;
    clear: both;
  }
  .grid-row .col {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
  }
  .grid-row .col + .col {
    background: #2b8ccd;
    left: auto;
    right: 0;
  }
  
  @-webkit-keyframes LOADING {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      background: #2b8ccd;
    }
    50% {
      -webkit-transform: scale(1);
              transform: scale(1);
      background: white;
    }
    100% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      background: #2b8ccd;
    }
  }
  
  @keyframes LOADING {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      background: #2b8ccd;
    }
    50% {
      -webkit-transform: scale(1);
              transform: scale(1);
      background: white;
    }
    100% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      background: #2b8ccd;
    }
  }
  @-webkit-keyframes LOADINGREV {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      background: white;
    }
    50% {
      -webkit-transform: scale(1);
              transform: scale(1);
      background: #2b8ccd;
    }
    100% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      background: white;
    }
  }
  @keyframes LOADINGREV {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      background: white;
    }
    50% {
      -webkit-transform: scale(1);
              transform: scale(1);
      background: #2b8ccd;
    }
    100% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      background: white;
    }
  }
  

.show-hide-message.ng-hide-remove{
    -webkit-animation: zoomIn 0.3s both ease;
    -moz-animation:  zoomIn 0.3s both ease;
    animation:  zoomIn 0.3s both ease;
}

.spinner{
    -webkit-animation: spin 1s infinite;
    -moz-animation:  spin 1s infinite;
    animation:  spin 1s infinite;
}

@keyframes spin{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@-webkit-keyframes spin{
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes spin{
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}

