<div class = "page-header">
    <h1>Hello from Register route</h1>
</div>

<!--Check with frontend and then send to backend so we send regForm.$valid as an argument-->
<form name = "regForm" ng-submit="register.regUser(regData, regForm.$valid);" novalidate>
    <div ng-class="{ 'has-success':(regForm.name.$valid && !regForm.name.$pristine), 'has-error':(!regForm.name.$valid && !regForm.name.$pristine) || (!regForm.name.$valid && regForm.$submitted) }">    
        <label>Name:</label>
        <input ng-disabled="register.disabled" class="form-control" type="text" name="name" placeholder="Enter your name" ng-model="register.regData.name" ng-pattern="/^[a-zA-Z]+$/" ng-minlength="3" ng-maxlength="20" required><br>
        <p class="alert alert-warning" ng-show="(!regForm.name.$pristine && regForm.name.$error.required) || (regForm.$submitted && regForm.name.$error.required)">This field is required</p>
        <ul ng-show="(!regForm.name.$pristine && regForm.name.$error.pattern) || (!regForm.name.$pristine && regForm.name.$error.minlength) || (!regForm.name.$pristine && regForm.name.$error.maxlength)" class="alert alert-warning">
            <li>Must not have a space</li>
            <li>Must not contain any special characters</li>
            <li>Must not contain any numbers</li>
            <li>Must be at least 3 characters but no more than 20</li>
        </ul>
    </div>

    <div ng-class="{ 'has-success':(regForm.email.$valid && !regForm.email.$pristine), 'has-error':(!regForm.email.$valid && !regForm.email.$pristine) || (!regForm.email.$valid && regForm.$submitted) }">
        <label>Email:</label>
        <input ng-disabled="register.disabled" class="form-control" type="text" name="email" placeholder="Enter your email" ng-model="register.regData.email" ng-pattern="/^[a-zA-Z0-9._%-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,4}$/" ng-minlength="3" ng-maxlength="25" required><br>
        <p class="alert alert-warning" ng-show="(!regForm.email.$pristine && regForm.email.$error.required) || (regForm.$submitted && regForm.email.$error.required)">This field is required</p>
        <ul ng-show="(!regForm.email.$pristine && regForm.email.$error.pattern) || (!regForm.email.$pristine && regForm.email.$error.minlength) || (!regForm.email.$pristine && regForm.email.$error.maxlength)" class="alert alert-warning">
            <li>Must contain @</li>
            <li>Must not contain any special characters</li>
            <li>Must be at least 3 characters but no more than 25</li>
            <li>Must be of the form abc@xyz.com</li>
        </ul>
    </div>


    <div ng-class="{ 'has-success':(regForm.username.$valid && !regForm.username.$pristine), 'has-error':(!regForm.username.$valid && !regForm.username.$pristine) || (!regForm.username.$valid && regForm.$submitted) }">
        <label>Username:</label>
        <input ng-disabled="register.disabled" class="form-control" type="text" name="username" placeholder="Enter your username" ng-model="register.regData.username" ng-pattern="/^(?!.*?[\W])(?=.*?[a-zA-Z]|=.*?[A-Z]).{3,16}$/" ng-minlength="3" ng-maxlength="25" required><br>
        <p class="alert alert-warning" ng-show="(!regForm.username.$pristine && regForm.username.$error.required) || (regForm.$submitted && regForm.username.$error.required)">This field is required</p>
        <ul ng-show="(!regForm.username.$pristine && regForm.username.$error.pattern) || (!regForm.username.$pristine && regForm.username.$error.minlength) || (!regForm.username.$pristine && regForm.username.$error.maxlength)" class="alert alert-warning">
            <li>Must not contain any special characters</li>
            <li>Must be at least 3 characters but no more than 25</li>
        </ul>
    </div>

    <div ng-class="{ 'has-success':(regForm.password.$valid && !regForm.password.$pristine), 'has-error':(!regForm.password.$valid && !regForm.password.$pristine) || (!regForm.password.$valid && regForm.$submitted) }">
        <label>Password:</label>
        <input ng-disabled="register.disabled" class="form-control" type="text" name="password" placeholder="Enter your password" ng-model="register.regData.password" ng-pattern="/^(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[\d])(?=.*?[\W]).{8,35}$/" ng-minlength="8" ng-maxlength="35" required><br>
        <p class="alert alert-warning" ng-show="(!regForm.password.$pristine && regForm.password.$error.required) || (regForm.$submitted && regForm.password.$error.required)">This field is required</p>
        <ul ng-show="(!regForm.password.$pristine && regForm.password.$error.pattern) || (!regForm.password.$pristine && regForm.password.$error.minlength) || (!regForm.password.$pristine && regForm.password.$error.maxlength)" class="alert alert-warning">
            <li>Must have at least one lower case</li>
            <li>Must have at least one uppercase</li>
            <li>Must have at leastone number</li>
            <li>Must have at least one special character</li>
            <li>Must be at least 8 characters but no more than 35.</li>
        </ul>
    </div>

    <button class="btn btn-primary" type="submit">Register</button>
</form>

<!--<span> Pristine: {{ regForm.$pristine }} </span><br>
<span> Errors: {{ regForm.$error }} </span><br>
<span> Valid: {{ regForm.$valid }} </span><br>
<span> Submitted: {{ regForm.$submitted }} </span><br>Check the attributes formed-->

<br>

<div class="jumbotron text-center"  ng-show="register.loading"><!--big box for calling extra attention to some special content LOADING in this case-->
    <span class = "glyphicon glyphicon-repeat fast-right-spinner"></span>
    <p>Loading...</p>
</div>

<div class = "row show-hide-message" ng-show="register.successMsg">
    <div class = "alert alert-success">{{ register.successMsg }}</div>  
</div>

<div class = "row show-hide-message" ng-show="register.errMsg">
    <div class = "alert alert-danger">{{ register.errMsg }}</div>
</div>