<div class = "page-header">
    <h1>Hello from Register route</h1>
</div>

<form ng-submit="register.regUser(regData);">
    <label>Username:</label>
    <input class = "form-control" type = "text" name = "username" placeholder="Please enter your username" ng-model="register.regData.username"><br>
    <label>Password:</label>
    <input class = "form-control" type = "password" name = "password" placeholder="Please enter your password" ng-model="register.regData.password"><br>
    <label>Email:</label>
    <input class = "form-control" type = "text" name = "email" placeholder="Please enter your email address" ng-model="register.regData.email"><br>

    <button class="btn btn-primary" type="submit">Register</button>
</form>

<br>

<div class="jumbotron text-center"  ng-show="register.loading"><!--big box for calling extra attention to some special content LOADING in this case-->
    <span class = "glyphicon glyphicon-repeat fast-right-spinner"></span>
    <p>Loading...</p>
</div>

<div class = "row show-hide-message" ng-show="register.successMsg">
    <div class = "alert alert-success">{{ register.successMsg }}</div>  
</div>

<div class = "row show-hide-message" ng-show="register.errMsg">
    <div class = "alert alert-danger">{{ register.errMsg }}</div>
</div>