<div class="page-header">
    <h1>Edit User</h1>
</div>

<br>

<ul class="nav nav-tabs">
    <li role="presentation" ng-click="edit.usernamePhase();" ng-class="usernameTab"> <a href="#"> Username </a></li>
    <li role="presentation" ng-click="edit.firstNamePhase();" ng-class="firstNameTab"> <a href="#"> First Name </a></li>
    <li role="presentation" ng-click="edit.lastNamePhase();" ng-class="lastNameTab"> <a href="#"> Last Name </a></li>
    <li role="presentation" ng-click="edit.weightPhase();" ng-class="weightTab"> <a href="#"> Weight </a></li>
    <li role="presentation" ng-click="edit.bloodGroupPhase();" ng-class="bloodGroupTab"> <a href="#"> Blood Group </a></li>
    <li role="presentation" ng-click="edit.genderPhase();" ng-class="genderTab"> <a href="#"> Gender </a></li>
    <li role="presentation" ng-click="edit.datePhase();" ng-class="dateTab"> <a href="#"> Date of Birth </a></li>
    <li role="presentation" ng-click="edit.mobileNumberPhase();" ng-class="mobileNumberTab"> <a href="#"> Mobile Number </a></li>
    <li role="presentation" ng-click="edit.emailPhase();" ng-class="emailTab"> <a href="#"> Email </a></li>
    <li role="presentation" ng-click="edit.permissionsPhase();" ng-class="permissionsTab"> <a href="#"> Permissions </a></li>
</ul>